<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'appointments_app/style.css' %}">
    <title>Current Appointments</title>
</head>
<body>
    <div id="wrapper">

        <h1>Welcome {{ user.first_name }}!</h1>
        <a href="{% url 'users:logout' %}">Log-Out</a><br><br>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3>Here are your appointments for today, {{ current_date }}:</h3><br>
        
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for appt in today_appt %}
                <tr>    
                    <td>{{ appt.task }}</td>
                    <td>{{ appt.time }}</td>
                    <td>{{ appt.status }}</td>
                    {% if appt.status != "done" %}
                    <td><a href="{% url 'appointments:edit' num=appt.id %}">Edit</a>
                        <a href="{% url 'appointments:delete' num=appt.id %}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>    
        </table><br><br>
        

        <h3>Your upcoming appointments:</h3><br>
        <table>
            <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appt in future_appt %}
                    <tr>    
                        <td>{{ appt.task }}</td>
                        <td>{{ appt.date }}</td>
                        <td>{{ appt.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>    
        </table><br><br><br>
        

        <h2>Add Appointment:</h2>
        <form action="{% url 'appointments:add' %}"method='post'>
            {% csrf_token %}
            <label for="date">Date:</label>
            <input type="date" name="date"><br>
            <label for="time">Time:</label>
            <input type="time" name="time"><br>
            <label for="tasks">Tasks:</label>
            <input type="text" name="tasks"><br>
            <input type="submit" name="" value="Add">
        </form>

    </div>
</body>
</html>